body {
    margin: 0;
    text-align: center;
    background-color: #FFF4E0;
}

p {
    font-family: 'Questrial', sans-serif;
    color: black;
    font-size: 20px
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #f37223;
    margin-top: 5px;
    margin-bottom: 10px;

}

h2 {
    font-family: 'Questrial', sans-serif;
    color: #CD104D;
    font-size: 20px
}

a {
    text-decoration: none;
    color: #CD104D;
}

/*************************************** CONTAINER STYLE ***************************************/

.top-container {
    padding-top: 30px;
    background-color: #FFF4E0;
    width: 100%;
}

.intro-subcontainer {
    margin-top: 40px;
    margin-bottom: 20px;
}

.floating-row {
    background-color: #FFF4E0;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0;

}

.bottom-container {
    padding: 10px 0 30px 0;
    background-color: #FFF4E0;
    width: 100%;
}

/*************************************** ITEMS STYLE ***************************************/

.name-logo {
    width: 350px;
}

.intro-name {
    color: #f37223;
    font-size: 24px;
    margin: 8px;
}

.menu-img {
    width:100%;
    max-width: 500px;
    font-size: 0;
}

.instagram-details {
    display: inline-block;
    padding-right: 20px;
}

.whatsapp-details {
    display: inline-block;
    padding-left: 20px;
}

.order-text {
    display: inline-block;
}

.menu-text {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

.contact-text {
    display: inline-block;
}

/*************************************** BUTTONS ***************************************/

.btn {
    width: 100%
  background: #CD104D;
  background-image: -webkit-linear-gradient(top, #CD104D, #E14D2A);
  background-image: -moz-linear-gradient(top, #CD104D, #E14D2A);
  background-image: -ms-linear-gradient(top, #CD104D, #E14D2A);
  background-image: -o-linear-gradient(top, #CD104D, #E14D2A);
  background-image: linear-gradient(to bottom, #CD104D, #E14D2A);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: 'Questrial', sans-serif;  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #E14D2A;
  background-image: -webkit-linear-gradient(top, #E14D2A, #FD841F);
  background-image: -moz-linear-gradient(top, #E14D2A, #FD841F);
  background-image: -ms-linear-gradient(top, #E14D2A, #FD841F);
  background-image: -o-linear-gradient(top, #E14D2A, #FD841F);
  background-image: linear-gradient(to bottom, #E14D2A, #FD841F);
  text-decoration: none;
}